<!DOCTYPE html>
<html lang="en" >

    <head>

    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="styles.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    </head>
    <body>
        
        <div id="app" class="web-camera-container">
            <div class="camera-button">
                <button type="button" class="button is-rounded" :class="{ 'is-primary' : !isCameraOpen, 'is-danger' : isCameraOpen}" @click="toggleCamera">
                <span v-if="!isCameraOpen">Open Camera</span>
                <span v-else>Close Camera</span>
            </button>
            </div>
            
            <div v-show="isCameraOpen && isLoading" class="camera-loading">
            <ul class="loader-circle">
                <li></li>
                <li></li>
                <li></li>
            </ul>
            </div>
            
            <div v-if="isCameraOpen" v-show="!isLoading" class="camera-box" :class="{ 'flash' : isShotPhoto }">
            
            <div class="camera-shutter" :class="{'flash' : isShotPhoto}"></div>
                
            <video v-show="!isPhotoTaken" ref="camera" :width="450" :height="337.5" autoplay></video>
            
            <canvas v-show="isPhotoTaken" id="photoTaken" ref="canvas" :width="450" :height="337.5"></canvas>
            </div>
            
            <div v-if="isCameraOpen && !isLoading" class="camera-shoot">
            <button type="button" class="button" @click="takePhoto">
                <img src="https://img.icons8.com/material-outlined/50/000000/camera--v2.png">
            </button>
            </div>
            
            <div v-if="isPhotoTaken && isCameraOpen" class="camera-download">
                <div id="predictions" class="predictions">
                    No predictions yet
                </div>
            </div>
            <hr/>
            <p>Original code by <a href="https://codepen.io/ditarahma08/pen/GRRxZLW">Dita Rahma Puspitasari</a></p>
            <p><small>Edited using <a href="https://vscode.dev/">vscode.dev</a></small></p>
            
        </div>
    </body>
    <script src="app.js"></script>
</html>
  